.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#root {
  padding:10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  float:left;
}

.error {
  font-size: 14px;
  font-weight: bold;
  color: red;
}

.logout-button {
  float:right;
}

.button {
  width: 100%;
  background-color: aqua;
}

.clr {
  clear:both;
}

.button:hover,
.button-login:hover {
  cursor: pointer;
  background-color: aquamarine;
}

.button-login {
  width:100px;
  background-color: aqua;
  color:white;
  text-align: center;
}

.button-login p {
  padding:10px;
}

.button p {
  font-size: 24px;
  padding:50px;
  text-align: center;
}

.login-wrapper {
  background-color: #c3c3c3c3;
  width: 250px;
  margin: auto;
  padding: 10px;
}

.login-wrapper label {
  display:block;
}

.login-wrapper input {
  width: 100%;
}

.scoreboard-wrapper {
  display:table;
  width:100%;
}

.scoreboard-body {
  display:table-row-group;
}

.scoreboard-item {
  display: table-row;
}

.scoreboard-item .position {
  display: inline-block;
  margin-left:10px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: lightskyblue;
}

.scoreboard-item:nth-child(1) .position {
  background-color: gold;
}

.scoreboard-item:nth-child(2) .position {
  background-color: silver;
}

.scoreboard-item:nth-child(3) .position {
  background-color: #CD7F32;
}

.scoreboard-item > p {
  display:inline-block;
  padding: 0 10px;
}

.scoreboard-item {
  width:100%;
  background-color: darkgrey;
}

.scoreboard-item .item-cell {
  display: table-cell;
}

.scoreboard-item .item-cell.current {
  background-color: chartreuse;
}

.scoreboard-item:nth-child(odd) {
  background-color: lightgrey;
}
